<div id="container">
	<div id="pixel"></div>
</div>

<div id="sidebar">
		<div id="feed">
			<h2>Feed Me</h2>
		</div>
		<div id="play">
			<h2>Play With Me</h2>
		</div>
		<div id="hunger">
			<h2>Hunger Level</h2>
		</div>
		<div id="mood">
			<h2>Mood</h2>
		</div>
</div>